:root.theme-dark {
  --bg-page: url('../images/cover-image-dark.png') no-repeat center / cover fixed;
  --title-decor: #FF0070;
  --accent-color: #000028;
  --color-pattern: #FF0070;
  --text-shadow: #FF0070;
  --content-color-text: #F1B2CE;
  --title-color-text: #DB00FF;
}