:root.theme-light {
  --text-shadow:#FF8DCB;
  --title-decor:#FF8DCB;
  --accent-color:#353430;
  --content-color-text:#353430;
  --color-pattern:#353430;
  --title-color-text:#FFC2E6;
  --bg-page: url('../images/cover-image-light.png') no-repeat center / cover fixed;
  --text-shadow:#FF8DCB;
  --button-hover:rgba(53, 52, 48, 0.4);
  --hideElement:none;
}

@media (prefers-color-scheme: light) {
  :root {
  --text-shadow:#FF8DCB;
  --title-decor:#FF8DCB;
  --accent-color:#353430;
  --content-color-text:#353430;
  --color-pattern:#353430;
  --title-color-text:#FFC2E6;
  --bg-page: url('../images/cover-image-light.png') no-repeat center / cover fixed;
  --text-shadow:#FF8DCB;
  --button-hover:rgba(53, 52, 48, 0.4);
  --hideElement:none;
  }
}
