:root.theme-light {
  --text-shadow:#FF8DCB;
  --title-decor:#FF8DCB;
  --accent-color:#353430;
  --content-color-text:#353430;
  --color-pattern:#353430; 
  --h1-color-text:#FFC2E6;
  --bg-page: url('../images/cover-image-light.png') no-repeat center / cover fixed;
  --text-shadow:#FF8DCB;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(53, 52, 48, 0.4);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid rgba(53, 52, 48, 1);
}

.theme-light .rec-card {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --text-shadow:#FF8DCB;
  --title-decor:#FF8DCB;
  --accent-color:#353430;
  --content-color-text:#353430;
  --color-pattern:#353430; 
  --h1-color-text:#FFC2E6;
  --bg-page: url('../images/cover-image-light.png') no-repeat center / cover fixed;
  --text-shadow:#FF8DCB;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(53, 52, 48, 0.4);
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid rgba(53, 52, 48, 1);
  }

  .info-block-link:focus { 
    outline: 1px solid currentColor;
    appearance: none;
  }

  .rec-card {
    display: none;
  }
}
