/* ____________Общие с тили____________ */

.title-decor {
  background:var(--title-decor);
}

.block-title {
  font-family: var( --main-font);
  font-size:var(--text-font-size);
  color:var(--accent-color);
  /* margin-block-start: 10px; */
  margin-block-start: 0;
  margin-block-end: 0px;
}

/* __Ссылка__ */
.info-block-link {
  color:inherit;
  text-decoration: none;
}

.text-shadow {
  text-shadow: 2px 2px 0px #FF0070;
}

.text-shadow:hover { 
  text-decoration: underline;
  text-underline-offset: 1px;

  /* __Нужна ли другая переменная ?__ */
  text-decoration-color:var(--title-decor);
}

.text-shadow:focus { 
  font-family: var(--main-font);
  font-weight: var(--font-weight-normal);
  font-size: 25px;
  line-height: 1.28;
  color: #F1B2CE;
}

.info-block-link { 

}

/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding:10px;
  background-image: url('../images/cover-image-dark.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: var(--bg-page);
  margin:0;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

/* _____header______ */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  /* padding-block-end: 8%; */
  height:100vh;
  min-height:658px;
}

.decorated-zone {
  position: relative;
}

/* Декоративные границы */

.decorated-zone::after {
  content:'';
  box-sizing: border-box;
  position: absolute;
  inset-block-start: 0px;
  inset-inline-end:0px;
  width: 25.04px;
  height: 25px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--title-decor);
}
/* декоративные  границы */

.decorated-zone::before {
  content:'';
  box-sizing: border-box;
  position: absolute;
  inset-block-end:0px;
  inset-inline-start:0px;
  width: 25.04px;
  height: 25px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: var(--title-decor);
}

/* ___декоративный REC___ */

.rec-card {
  position: absolute;
  font-family: var(--main-font);
  font-weight: var(--font-weight-normal);
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: var(--title-decor);
  inset-block-start: 0;
  inset-inline-end: 28px;
}

.rec-card::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 9px;
  height: 9px;
  background: var(--title-decor);
  box-shadow: 0px 0px 4px 2px var(--title-decor);
  inset-block-start: 8px;
  inset-inline-end: -19px;
}

.header__theme-menu {
  justify-items: end;
  /* margin-block-start: 18.4%; */
  margin-block-start: 64px; 
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-self: right;
  gap:10px;
  margin:0;
}

.header__theme-menu-item {

}

.header__theme-menu-button {
  display: inline-block;
  width:100%;
  background: transparent;
  font-family: 'IBM Plex Mono', monospace;
  text-transform: lowercase;
  font-weight: var(--font-weight-normal, 400);
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: var(--color-pattern);
  border: 1px solid transparent;
  padding-block: 3px;
  padding-inline: 13px;
}

/* день */



.header__theme-menu-button_type_light {

}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
}

.header__theme-menu-button_type_auto {

}

.header__theme-menu-button_type_dark {

}

/* Заголовок h1 */

.header__title { 
  font-family: var(--main-font);
  font-weight: var(--font-weight-bold);
  font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  /* margin-block-end: 37px;
  margin-block-start: 68px;  */
  margin-block-end: 28px;
  margin-block-start: 19px;
  /* margin-block-start:18.63%;
  margin-block-end: 10.8%; */
  color: #DB00FF;
  text-shadow: 4px 4px 0 var(--text-shadow);
}

/* возможно вывести в заголовок, просто h2 вынести в общие стили а в этом перебить */

.header__description-text {
  font-family: var(--main-font);
  font-weight: var(--font-weight-bold);
  font-size:var(--text-font-size);
  line-height: 23.4px;
  color:var(--text-color);
  min-width:355px;
  max-width: 50%;
  margin-block-end: 76px;
  /* margin-block-end: 7.8%; */
  /* margin-block-end:27px; */
  justify-self:end;
  margin-block-start: 18px;
  /* margin-bottom уменьшается элемент */
}

/* ____main content_____ */

.info-block {
  display: grid;
  margin-block-start:30px;
}

/* _отсюда вынес блок h2 */

.info-block__contain {
  margin-block-start: 20px;
}

.info-block__title {
  font-family: var( --main-font);
  font-size:var(--text-font-size);
  line-height: 23.4px;
  color:var(--color-pattern);
  /* margin-block-start: 14%; */
  margin-block-start: 0;
  margin-block-end: 0;
}

.info-block__title-light { 
  font-weight: var(--font-weight-normal);
}

.info-block__text {
  font-family: var( --main-font);
  font-size:var(--text-font-size);
  line-height: 1.3;
  margin-block-start: 10px;
  margin-block-end: 0px;
  color:var(--content-color-text);
}

.info-block-link {

}

.info-block__subject {
  font-family: var(--main-font);
  font-weight: var(--font-weight-bold);
  font-size: var(--text-font-size);
  line-height: 1.3;
  color: var(--accent-color);
  margin-block-start: 21px;
  margin-block-end: 0px;
}

/* _____ Секция Галерея_____ */

.section-galerry { 
  display: grid;
  margin-top:50px;
  gap:10px;
}

.section-gallery__image { 
  width:100%;
}

/* _____footer_____ */

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 648px;
  margin-block-start: 51px;
  height:100vh;
  min-height:657px;
}

.footer__text {
  font-family: var(--main-font);
  font-weight: var(--font-weight-bold);
  font-size: var(--text-font-size);
  font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  /* padding:286px 3px 286px 4px; */
  margin:auto;
  line-height: 82.5%;
  color: #DB00FF;
  text-shadow: 3px 2px 0px #FF0070;
}


/* ___media для header___ */

@media (width >= 768px) {
  .header { 
    padding-block-end: 4%;
  }

  .header__theme-menu {
    justify-items: end;
    margin-block-start: 23.6%;
  /* margin-block-start: 175; */
}
  .header__theme-menu-list { 
    gap:10px;
  }

  .header__title { 
    margin-inline-start: -20px;
    /* margin-block-start: 24.2%;
    margin-block-end: 19.8%; */
    margin-block-start:174.5px;
    margin-block-end:142.5px;
  }
  .header__description-text { 
    margin-block-end: 135px;
  }

  .info-block {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 20px;
    margin-block-start:80px;
  }
  .info-block__title { 
    grid-row: 1 / -1;
  }
  .info-block__contain {
    margin-block-start: 0px;
  }

  .info-block__mod { 
    grid-template-columns: 1fr;

    /* grid-template-areas: 
    'title . .'
    'contain contain contain'
    'contain contain contain'
    'contain contain contain'
    ;
  }
  .info-title__mod { 
    grid-area: title;
  }
  .info-contain__mod { 
    grid-area: contain;
  } */
}

.info-title__mod {
  width:min-content;
  max-width: 220px;
}
.info-block__subject_mod { 
  margin-block-start: 0px
}
}

/* ___Desktop media___ */

@media (width >= 1024px) {
  .header { 
    grid-template-rows: 1fr min-content auto;
  }
  .page { 
    padding:20px;
  }
  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
    margin-bottom: 243px;
  }
  .header__theme-menu-list {
    padding:0;
    flex-direction: row;
  }

  .header__title { 
    font-family: 'IBM Plex Mono';
    margin-block-start: 3.2%;
    margin-block-end: 9.8%;
    font-style: normal;
    font-weight: 700;
    font-size: 157px;
    line-height: 82.5%;
    color: #DB00FF;
    text-shadow: 4px 4px 0px #FF0070;
  }

  .header__description-text { 
        margin-block-end: 7.8%;
  }

}